In [1]:
import requests
import json
import numpy as np
import pandas as pd
import time

with open('api_key.json') as fi:
    credentials = json.load(fi)
    
api_key = credentials['api_key']

# EDA Notebook to look at data in every API response option:


- /1.0/artist/{mbid} - (a)
 
- /1.0/artist/{mbid}/setlists - (b)


- /1.0/city/{geoId} - (c)
 
- /1.0/search/artists - (d)
 
- /1.0/search/cities - (e)
 
- /1.0/search/countries - (f)
 
- /1.0/search/setlists - (g)
 
- /1.0/search/venues - (h)
 
- /1.0/setlist/{setlistId} (i)

- /1.0/setlist/version/{versionId} - (j)
 
- /1.0/setlist/{setlistId} - (k)
 
- /1.0/user/{userId} - (l)
 
- /1.0/user/{userId}/attended - (m)
 
- /1.0/user/{userId}/edited - (n)
 
- /1.0/venue/{venueId} - (o)
 
- /1.0/venue/{venueId}/setlists - (p)

# b

### /1.0/artist/{mbid}/setlists

In [2]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


b=requests.get("https://api.setlist.fm/rest/1.0/artist/b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d/setlists?p=1", headers=header)
print(b)

b_df=pd.DataFrame(b.json())
b_df.head()

<Response [200]>

,type,itemsPerPage,page,total,setlist
0,setlists,20,1,1466,"{'id': '53d6f3ad', 'versionId': 'g53c29b9d', '..."
1,setlists,20,1,1466,"{'id': '73c18a19', 'versionId': '13367d11', 'e..."
2,setlists,20,1,1466,"{'id': '43c26b8b', 'versionId': 'g2bc1485a', '..."
3,setlists,20,1,1466,"{'id': 'bf88dc2', 'versionId': '1b3bcd80', 'ev..."
4,setlists,20,1,1466,"{'id': '73d67e09', 'versionId': '7b069680', 'e..."

In [3]:
b_setlist_df = b_df['setlist'].apply(pd.Series)
b_setlist_df.head()

,id,versionId,eventDate,lastUpdated,artist,venue,sets,info,url,tour
0,53d6f3ad,g53c29b9d,30-01-1969,2021-12-14T08:26:08.000+0000,{'mbid': 'b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d...,"{'id': '4bd627fe', 'name': 'Apple Corps Roofto...","{'set': [{'song': [{'name': 'Get Back'}, {'nam...",The Beatles' last public performance. Band pla...,https://www.setlist.fm/setlist/the-beatles/196...,NaN
1,73c18a19,13367d11,04-09-1968,2020-01-17T01:22:37.000+0000,{'mbid': 'b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d...,"{'id': '4bd5973e', 'name': 'Twickenham Studios...","{'set': [{'name': '""Hey Jude"" film sessions', ...",Broadcast on September 8th 1968,https://www.setlist.fm/setlist/the-beatles/196...,NaN
2,43c26b8b,g2bc1485a,25-06-1967,2022-02-24T08:01:13.000+0000,{'mbid': 'b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d...,"{'id': '43d207b3', 'name': 'EMI Recording Stud...",{'set': [{'song': [{'name': 'All You Need Is L...,Representing the UK on 'Our Worldâ€™ the first l...,https://www.setlist.fm/setlist/the-beatles/196...,NaN
3,bf88dc2,1b3bcd80,24-06-1967,2020-06-02T08:45:06.000+0000,{'mbid': 'b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d...,"{'id': '43d207b3', 'name': 'EMI Recording Stud...",{'set': [{'song': [{'name': 'All You Need Is L...,Open-door rehearsal for the press.,https://www.setlist.fm/setlist/the-beatles/196...,NaN
4,73d67e09,7b069680,29-08-1966,2019-07-10T19:44:01.000+0000,{'mbid': 'b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d...,"{'id': '3bd624d4', 'name': 'Candlestick Park',...",{'set': [{'song': [{'name': 'Rock and Roll Mus...,Last public performance until 1969,https://www.setlist.fm/setlist/the-beatles/196...,{'name': 'North American Tour 1966'}

In [12]:
b_sets_df = b_setlist_df['sets'].apply(pd.Series)
b_sets_df.head()

                                                 set
0  [{'song': [{'name': 'Get Back'}, {'name': 'Get...
1  [{'name': '"Hey Jude" film sessions', 'song': ...
2     [{'song': [{'name': 'All You Need Is Love'}]}]
3  [{'song': [{'name': 'All You Need Is Love', 'i...
4  [{'song': [{'name': 'Rock and Roll Music', 'co...

In [13]:
b_set_df = b_sets_df['set'].apply(pd.Series)
b_set_df.head()

,0,1
0,"{'song': [{'name': 'Get Back'}, {'name': 'Get ...",NaN
1,"{'name': '""Hey Jude"" film sessions', 'song': [...","{'name': '""Revolution"" film sessions', 'song':..."
2,{'song': [{'name': 'All You Need Is Love'}]},NaN
3,"{'song': [{'name': 'All You Need Is Love', 'in...",NaN
4,"{'song': [{'name': 'Rock and Roll Music', 'cov...",NaN

In [ ]:
from collections import defaultdict
b = defaultdict(list)
for animal in a:
    for key, val in animal.items():
        b[key].append(val)
print(b)

In [18]:
b_set_df[0]

0     {'song': [{'name': 'Get Back'}, {'name': 'Get ...
1     {'name': '"Hey Jude" film sessions', 'song': [...
2          {'song': [{'name': 'All You Need Is Love'}]}
3     {'song': [{'name': 'All You Need Is Love', 'in...
4     {'song': [{'name': 'Rock and Roll Music', 'cov...
5     {'song': [{'name': 'Rock and Roll Music', 'cov...
6     {'song': [{'name': 'Rock and Roll Music', 'cov...
7     {'song': [{'name': 'Rock and Roll Music', 'cov...
8     {'song': [{'name': 'Rock and Roll Music', 'cov...
9     {'song': [{'name': 'Rock and Roll Music', 'cov...
10    {'song': [{'name': 'Rock and Roll Music', 'cov...
11    {'song': [{'name': 'Rock and Roll Music', 'cov...
12    {'song': [{'name': 'Rock and Roll Music', 'cov...
13    {'song': [{'name': 'Rock and Roll Music', 'cov...
14    {'song': [{'name': 'Rock and Roll Music', 'cov...
15    {'song': [{'name': 'Rock and Roll Music', 'cov...
16    {'song': [{'name': 'Rock and Roll Music', 'cov...
17    {'song': [{'name': 'Rock and Roll Music', 'cov...
18    {'song': [{'name': 'Rock and Roll Music', 'cov...
19    {'song': [{'name': 'Rock and Roll Music', 'cov...
Name: 0, dtype: object

In [20]:
b_test = b_set_df.T
b_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,"{'song': [{'name': 'Get Back'}, {'name': 'Get ...","{'name': '""Hey Jude"" film sessions', 'song': [...",{'song': [{'name': 'All You Need Is Love'}]},"{'song': [{'name': 'All You Need Is Love', 'in...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov...","{'song': [{'name': 'Rock and Roll Music', 'cov..."
1,NaN,"{'name': '""Revolution"" film sessions', 'song':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#genres = pd.DataFrame(dict([(k,pd.Series(v)) for k,v in genre_json.items()]))

songs = pd.DataFrame(dict([(k,pd.Series(v)) for k,v in b_sets_df.items()]))
songs

NameError: name 'b_sets_df' is not defined

In [8]:
b_0_df = b_set_df[0].apply(pd.Series)
b_0_df.head()

# this is now a list of dictionaries
# look up pd.dataframe and different ways to do it
# look into .transpose
#

NameError: name 'b_set_df' is not defined

In [9]:
b_song_df = b_0_df['song'].apply(pd.Series)
b_song_df.head()

NameError: name 'b_0_df' is not defined

In [10]:
b_dict =b_song_df[1]
b_dict_2 =b_dict[0]
print(b_dict_2)

NameError: name 'b_song_df' is not defined

In [ ]:
b_song_df[[1,2]]

In [ ]:
print(b_dict_2['name'])

In [ ]:
b_dict_2.keys()

In [ ]:
print('Items --> ', b_dict_2.items())

# c

## /1.0/city/{geoId}

- couldn't find geoID

# d

## /1.0/search/artists

In [ ]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


d=requests.get("https://api.setlist.fm/rest/1.0/search/artists?artistName=The%20Beatles&p=1&sort=sortName", headers=header)
d_df=pd.DataFrame(d.json())
d_df.head()

In [ ]:
d_artist_df = d_df['artist'].apply(pd.Series)
d_artist_df.head()

# e

## /1.0/search/cities

In [ ]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


e=requests.get("https://api.setlist.fm/rest/1.0/search/cities?p=1&stateCode=TN", headers=header)
e_df=pd.DataFrame(e.json())
e_df.head()

In [ ]:
e_cities_df = e_df['cities'].apply(pd.Series)
e_cities_df.head()

# f

## /1.0/search/countries

In [ ]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


f=requests.get("https://api.setlist.fm/rest/1.0/search/countries", headers=header)
f_df=pd.DataFrame(f.json())
f_df.head()

In [ ]:
f_country_df = f_df['country'].apply(pd.Series)
f_country_df.head()

# g

## /1.0/search/setlists

In [ ]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


g=requests.get("https://api.setlist.fm/rest/1.0/search/setlists?countryCode=US&p=1", headers=header)
g_df=pd.DataFrame(g.json())
g_df.head()

In [ ]:
g_setlist_df = g_df['setlist'].apply(pd.Series)
g_setlist_df.head()

In [ ]:
g_venue_df = g_setlist_df['venue'].apply(pd.Series)
g_venue_df.head()

In [ ]:
g_city_df =g_venue_df['city'].apply(pd.Series)
g_city_df.head()

In [ ]:
g_artist_df = g_setlist_df['artist'].apply(pd.Series)
g_artist_df.head()

# h

## /1.0/search/venues

In [ ]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


h=requests.get("https://api.setlist.fm/rest/1.0/search/venues?p=1&stateCode=TN", headers=header)
h_df=pd.DataFrame(h.json())
h_df.head()

In [ ]:
h_venue_df = h_df['venue'].apply(pd.Series)
h_venue_df.head()

In [ ]:
h_city_df = h_venue_df['city'].apply(pd.Series)
h_city_df.head()

In [ ]:
h_coords_df = h_city_df['coords'].apply(pd.Series)
h_coords_df.head()

# i

## /1.0/setlist/{setlistId}

In [ ]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


i=requests.get("https://api.setlist.fm/rest/1.0/setlist/53d6f3ad", headers=header)
i_df=pd.DataFrame(i.json())
i_df

# j

## /1.0/setlist/version/{versionId}

In [ ]:
header={
    "Accept":"application/json", 
    "x-api-key":api_key
}


j=requests.get("https://api.setlist.fm/rest/1.0/setlist/version/g53c29b9d", headers=header)
j_df=pd.DataFrame(j.json())
j_df