In [1]:
import requests
import json
import numpy as np
import pandas as pd
import time

with open('../Data/api_key.json') as fi:
    credentials = json.load(fi)
    
api_key = credentials['api_key']

header={
    "Accept":"application/json", 
    "x-api-key":api_key
}

In [2]:
# 42 pages of Alabama venues. May try to include this loop:

# pages_list = []

# for x in range(42):
#    pages.append(x+1)
#    print(pages_list)

In [58]:
# # testing on the first 17 pages of alabama venues (so it didn't take as long)

# # pages = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17]
# alabama_venues= []

# for x in range(17):
#     print(requests.get(f"https://api.setlist.fm/rest/1.0/search/venues?p={x}&stateCode=AL", headers=header))
#     print(str(requests.get(f"https://api.setlist.fm/rest/1.0/search/venues?p={x}&stateCode=AL", headers=header)))
#     print(type(str(requests.get(f"https://api.setlist.fm/rest/1.0/search/venues?p={x}&stateCode=AL", headers=header))))
#     alabama_venues.append(requests.get(f"https://api.setlist.fm/rest/1.0/search/venues?p={x}&stateCode=AL", headers=header).json())
#     time.sleep(10)

In [ ]:
# breaks it quit the loop, then goes to outer loop. continue makes it go to the beginning of the same loop.

In [57]:
# This loop is running all pages of venues for the first five states
alabama_venues= []

states=['AL','AK','AZ','AR','CA']

# if print request peice = response to 100, print venues.append...else break
# need to figure out how many pages of venues each state has. may need try and accept. or while loop.

for y in states: 
    z=1
    a=1
    for x in range(10000):
        if str(requests.get(f"https://api.setlist.fm/rest/1.0/search/venues?p={x+1}&stateCode={y}", headers=header))=='<Response [200]>':
            print(requests.get(f"https://api.setlist.fm/rest/1.0/search/venues?p={x+1}&stateCode={y}", headers=header))
            alabama_venues.append(requests.get(f"https://api.setlist.fm/rest/1.0/search/venues?p={x+1}&stateCode={y}", headers=header).json())
            time.sleep(5)
            print(f"try:{z}")
            z+=1
        else:
            print(f"break:{a}")
            a+=1
            break

<Response [200]>
try:1
<Response [200]>
try:2
<Response [200]>
try:3
<Response [200]>
try:4
<Response [200]>
try:5
<Response [200]>
try:6
<Response [200]>
try:7
<Response [200]>
try:8
<Response [200]>
try:9
<Response [200]>
try:10
<Response [200]>
try:11
<Response [200]>
try:12
<Response [200]>
try:13
<Response [200]>
try:14
<Response [200]>
try:15
<Response [200]>
try:16
<Response [200]>
try:17
<Response [200]>
try:18
<Response [200]>
try:19
<Response [200]>
try:20
<Response [200]>
try:21
<Response [200]>
try:22
<Response [200]>
try:23
<Response [200]>
try:24
<Response [200]>
try:25
<Response [200]>
try:26
<Response [200]>
try:27
<Response [200]>
try:28
<Response [200]>
try:29
<Response [200]>
try:30
<Response [200]>
try:31
<Response [200]>
try:32
<Response [200]>
try:33
<Response [200]>
try:34
<Response [200]>
try:35
<Response [200]>
try:36
<Response [200]>
try:37
<Response [200]>
try:38
<Response [200]>
try:39
<Response [200]>
try:40
break:1
<Response [200]>
try:1
<Response [200]>
try:2
<Response [200]>
try:3
<Response [200]>
try:4
<Response [200]>
try:5
<Response [200]>
try:6
<Response [200]>
try:7
break:1
<Response [200]>
try:1
<Response [200]>
try:2
<Response [200]>
try:3
<Response [200]>
try:4
<Response [200]>
try:5
<Response [200]>
try:6
<Response [200]>
try:7
<Response [200]>
try:8
<Response [200]>
try:9
<Response [200]>
try:10
<Response [200]>
try:11
<Response [200]>
try:12
<Response [200]>
try:13
<Response [200]>
try:14
<Response [200]>
try:15
<Response [200]>
try:16
<Response [200]>
try:17
<Response [200]>
try:18
<Response [200]>
try:19
<Response [200]>
try:20
<Response [200]>
try:21
<Response [200]>
try:22
<Response [200]>
try:23
<Response [200]>
try:24
<Response [200]>
try:25
<Response [200]>
try:26
<Response [200]>
try:27
<Response [200]>
try:28
<Response [200]>
try:29
<Response [200]>
try:30
<Response [200]>
try:31
<Response [200]>
try:32
<Response [200]>
try:33
<Response [200]>
try:34
<Response [200]>
try:35
<Response [200]>
try:36
<Response [200]>
try:37
<Response [200]>
try:38
<Response [200]>
try:39
<Response [200]>
try:40
<Response [200]>
try:41
<Response [200]>
try:42
<Response [200]>
try:43
<Response [200]>
try:44
<Response [200]>
try:45
<Response [200]>
try:46
<Response [200]>
try:47
break:1
<Response [200]>
try:1
<Response [200]>
try:2
<Response [200]>
try:3
<Response [200]>
try:4
<Response [200]>
try:5
<Response [200]>
try:6
<Response [200]>
try:7
<Response [200]>
try:8
<Response [200]>
try:9
<Response [200]>
try:10
<Response [200]>
try:11
<Response [200]>
try:12
<Response [200]>
try:13
<Response [200]>
try:14
<Response [200]>
try:15
<Response [200]>
try:16
<Response [200]>
try:17
<Response [200]>
try:18
<Response [200]>
try:19
<Response [200]>
try:20
<Response [200]>
try:21
break:1
<Response [200]>
try:1
<Response [200]>
try:2
<Response [200]>
try:3
<Response [200]>
try:4
<Response [200]>
try:5
<Response [200]>
try:6
<Response [200]>
try:7
<Response [200]>
try:8
<Response [200]>
try:9
<Response [200]>
try:10
<Response [200]>
try:11
<Response [200]>
try:12
<Response [200]>
try:13
<Response [200]>
try:14
<Response [200]>
try:15
<Response [200]>
try:16
<Response [200]>
try:17
<Response [200]>
try:18
<Response [200]>
try:19
<Response [200]>
try:20
<Response [200]>
try:21
<Response [200]>
try:22
<Response [200]>
try:23
<Response [200]>
try:24
<Response [200]>
try:25
<Response [200]>
try:26
<Response [200]>
try:27
<Response [200]>
try:28
<Response [200]>
try:29
<Response [200]>
try:30
<Response [200]>
try:31
<Response [200]>
try:32
<Response [200]>
try:33
<Response [200]>
try:34
<Response [200]>
try:35
<Response [200]>
try:36
<Response [200]>
try:37
<Response [200]>
try:38
<Response [200]>
try:39
<Response [200]>
try:40
<Response [200]>
try:41
<Response [200]>
try:42
<Response [200]>
try:43
<Response [200]>
try:44
<Response [200]>
try:45
<Response [200]>
try:46
<Response [200]>
try:47
<Response [200]>
try:48
<Response [200]>
try:49
<Response [200]>
try:50
<Response [200]>
try:51
<Response [200]>
try:52
<Response [200]>
try:53
<Response [200]>
try:54
<Response [200]>
try:55
<Response [200]>
try:56
<Response [200]>
try:57
<Response [200]>
try:58
<Response [200]>
try:59
<Response [200]>
try:60
<Response [200]>
try:61
<Response [200]>
try:62
<Response [200]>
try:63
<Response [200]>
try:64
<Response [200]>
try:65
<Response [200]>
try:66
<Response [200]>
try:67
<Response [200]>
try:68
<Response [200]>
try:69
<Response [200]>
try:70
<Response [200]>
try:71
<Response [200]>
try:72
<Response [200]>
try:73
<Response [200]>
try:74
<Response [200]>
try:75
<Response [200]>
try:76
<Response [200]>
try:77
<Response [200]>
try:78
<Response [200]>
try:79
<Response [200]>
try:80
<Response [200]>
try:81
<Response [200]>
try:82
<Response [200]>
try:83
<Response [200]>
try:84
<Response [200]>
try:85
<Response [200]>
try:86
<Response [200]>
try:87
<Response [200]>
try:88
<Response [200]>
try:89
<Response [200]>
try:90
<Response [200]>
try:91
<Response [200]>
try:92
<Response [200]>
try:93
<Response [200]>
try:94
<Response [200]>
try:95
<Response [200]>
try:96
<Response [200]>
try:97
<Response [200]>
try:98
<Response [200]>
try:99
<Response [200]>
try:100
<Response [200]>
try:101
<Response [200]>
try:102
<Response [200]>
try:103
<Response [200]>
try:104
<Response [200]>
try:105
<Response [200]>
try:106
<Response [200]>
try:107
<Response [200]>
try:108
<Response [200]>
try:109
<Response [200]>
try:110
<Response [200]>
try:111
<Response [200]>
try:112
<Response [200]>
try:113
<Response [200]>
try:114
<Response [200]>
try:115
<Response [200]>
try:116
<Response [200]>
try:117
<Response [200]>
try:118
<Response [200]>
try:119
<Response [200]>
try:120
<Response [200]>
try:121
<Response [200]>
try:122
<Response [200]>
try:123
<Response [200]>
try:124
<Response [200]>
try:125
<Response [200]>
try:126
<Response [200]>
try:127
<Response [200]>
try:128
<Response [200]>
try:129
<Response [200]>
try:130
<Response [200]>
try:131
<Response [200]>
try:132
<Response [200]>
try:133
<Response [200]>
try:134
<Response [200]>
try:135
<Response [200]>
try:136
<Response [200]>
try:137
<Response [200]>
try:138
<Response [200]>
try:139
<Response [200]>
try:140
<Response [200]>
try:141
<Response [200]>
try:142
<Response [200]>
try:143
<Response [200]>
try:144
<Response [200]>
try:145
<Response [200]>
try:146
<Response [200]>
try:147
<Response [200]>
try:148
<Response [200]>
try:149
<Response [200]>
try:150
<Response [200]>
try:151
<Response [200]>
try:152
<Response [200]>
try:153
<Response [200]>
try:154
<Response [200]>
try:155
<Response [200]>
try:156
<Response [200]>
try:157
<Response [200]>
try:158
<Response [200]>
try:159
<Response [200]>
try:160
<Response [200]>
try:161
<Response [200]>
try:162
<Response [200]>
try:163
<Response [200]>
try:164
<Response [200]>
try:165
<Response [200]>
try:166
<Response [200]>
try:167
<Response [200]>
try:168
<Response [200]>
try:169
<Response [200]>
try:170
<Response [200]>
try:171
<Response [200]>
try:172
<Response [200]>
try:173
<Response [200]>
try:174
<Response [200]>
try:175
<Response [200]>
try:176
<Response [200]>
try:177
<Response [200]>
try:178
<Response [200]>
try:179
<Response [200]>
try:180
<Response [200]>
try:181
<Response [200]>
try:182
<Response [200]>
try:183
<Response [200]>
try:184
<Response [200]>
try:185
<Response [200]>
try:186
<Response [200]>
try:187
<Response [200]>
try:188
<Response [200]>
try:189
<Response [200]>
try:190
<Response [200]>
try:191
<Response [200]>
try:192
<Response [200]>
try:193
<Response [200]>
try:194
<Response [200]>
try:195
<Response [200]>
try:196
<Response [200]>
try:197
<Response [200]>
try:198
<Response [200]>
try:199
<Response [200]>
try:200
<Response [200]>
try:201
<Response [200]>
try:202
<Response [200]>
try:203
<Response [200]>
try:204
<Response [200]>
try:205
<Response [200]>
try:206
<Response [200]>
try:207
<Response [200]>
try:208
<Response [200]>
try:209
<Response [200]>
try:210
<Response [200]>
try:211
<Response [200]>
try:212
<Response [200]>
try:213
<Response [200]>
try:214
<Response [200]>
try:215
<Response [200]>
try:216
<Response [200]>
try:217
<Response [200]>
try:218
<Response [200]>
try:219
<Response [200]>
try:220
<Response [200]>
try:221
<Response [200]>
try:222

<Response [200]>
try:223
<Response [200]>
try:224
<Response [200]>
try:225
<Response [200]>
try:226
<Response [200]>
try:227
<Response [200]>
try:228
<Response [200]>
try:229
<Response [200]>
try:230
<Response [200]>
try:231
<Response [200]>
try:232
<Response [200]>
try:233
<Response [200]>
try:234
<Response [200]>
try:235
<Response [200]>
try:236
<Response [200]>
try:237
<Response [200]>
try:238
<Response [200]>
try:239
<Response [200]>
try:240
<Response [200]>
try:241
<Response [200]>
try:242
<Response [200]>
try:243
<Response [200]>
try:244
<Response [200]>
try:245
<Response [200]>
try:246
<Response [200]>
try:247
<Response [200]>
try:248
<Response [200]>
try:249
<Response [200]>
try:250
<Response [200]>
try:251
<Response [200]>
try:252
<Response [200]>
try:253
<Response [200]>
try:254
<Response [200]>
try:255
<Response [200]>
try:256
<Response [200]>
try:257
<Response [200]>
try:258
<Response [200]>
try:259
<Response [200]>
try:260
<Response [200]>
try:261
<Response [200]>
try:262
<Response [200]>
try:263
<Response [200]>
try:264
<Response [200]>
try:265
<Response [200]>
try:266
<Response [200]>
try:267
<Response [200]>
try:268
<Response [200]>
try:269
<Response [200]>
try:270
<Response [200]>
try:271
<Response [200]>
try:272
<Response [200]>
try:273
<Response [200]>
try:274
<Response [200]>
try:275
<Response [200]>
try:276
<Response [200]>
try:277
<Response [200]>
try:278
<Response [200]>
try:279
<Response [200]>
try:280
<Response [200]>
try:281
<Response [200]>
try:282
<Response [200]>
try:283
<Response [200]>
try:284
<Response [200]>
try:285
<Response [200]>
try:286
<Response [200]>
try:287
<Response [200]>
try:288
<Response [200]>
try:289
<Response [200]>
try:290
<Response [200]>
try:291
<Response [200]>
try:292
<Response [200]>
try:293
<Response [200]>
try:294
<Response [200]>
try:295
<Response [200]>
try:296
<Response [200]>
try:297
<Response [200]>
try:298
<Response [200]>
try:299
<Response [200]>
try:300
<Response [200]>
try:301
<Response [200]>
try:302
<Response [200]>
try:303
<Response [200]>
try:304
<Response [200]>
try:305
<Response [200]>
try:306
<Response [200]>
try:307
<Response [200]>
try:308
<Response [200]>
try:309
<Response [200]>
try:310
<Response [200]>
try:311
<Response [200]>
try:312
<Response [200]>
try:313
<Response [200]>
try:314
<Response [200]>
try:315
<Response [200]>
try:316
<Response [200]>
try:317
<Response [200]>
try:318
<Response [200]>
try:319
<Response [200]>
try:320
<Response [200]>
try:321
<Response [200]>
try:322
<Response [200]>
try:323
<Response [200]>
try:324
<Response [200]>
try:325
<Response [200]>
try:326
<Response [200]>
try:327
<Response [200]>
try:328
<Response [200]>
try:329
<Response [200]>
try:330
<Response [200]>
try:331
<Response [200]>
try:332
<Response [200]>
try:333
<Response [200]>
try:334
<Response [200]>
try:335
<Response [200]>
try:336
<Response [200]>
try:337
<Response [200]>
try:338
<Response [200]>
try:339
<Response [200]>
try:340
<Response [200]>
try:341
<Response [200]>
try:342
<Response [200]>
try:343
<Response [200]>
try:344
<Response [200]>
try:345
<Response [200]>
try:346
<Response [200]>
try:347
<Response [200]>
try:348
<Response [200]>
try:349
<Response [200]>
try:350
<Response [200]>
try:351
<Response [200]>
try:352
<Response [200]>
try:353
<Response [200]>
try:354
<Response [200]>
try:355
<Response [200]>
try:356
<Response [200]>
try:357
<Response [200]>
try:358
<Response [200]>
try:359
<Response [200]>
try:360
<Response [200]>
try:361
<Response [200]>
try:362
<Response [200]>
try:363
<Response [200]>
try:364
<Response [200]>
try:365
<Response [200]>
try:366
<Response [200]>
try:367
<Response [200]>
try:368
<Response [200]>
try:369
<Response [200]>
try:370
<Response [200]>
try:371
<Response [200]>
try:372
<Response [200]>
try:373
<Response [200]>
try:374
<Response [200]>
try:375
<Response [200]>
try:376
<Response [200]>
try:377
<Response [200]>
try:378
<Response [200]>
try:379
<Response [200]>
try:380
<Response [200]>
try:381
<Response [200]>
try:382
<Response [200]>
try:383
<Response [200]>
try:384
<Response [200]>
try:385
<Response [200]>
try:386
<Response [200]>
try:387
<Response [200]>
try:388
<Response [200]>
try:389
<Response [200]>
try:390
<Response [200]>
try:391
<Response [200]>
try:392
<Response [200]>
try:393
<Response [200]>
try:394
<Response [200]>
try:395
<Response [200]>
try:396
<Response [200]>
try:397
<Response [200]>
try:398
<Response [200]>
try:399
<Response [200]>
try:400
<Response [200]>
try:401
<Response [200]>
try:402
<Response [200]>
try:403
<Response [200]>
try:404
<Response [200]>
try:405
<Response [200]>
try:406
<Response [200]>
try:407
<Response [200]>
try:408
<Response [200]>
try:409
<Response [200]>
try:410
<Response [200]>
try:411
<Response [200]>
try:412
<Response [200]>
try:413
<Response [200]>
try:414
<Response [200]>
try:415
break:1

In [49]:
# alabama_venues= []

# states=['AL']

# # need to figure out how many pages of venues each state has. may need try and accept. or while loop.


# print(requests.get(f"https://api.setlist.fm/rest/1.0/search/venues?p=42&stateCode=AL", headers=header))
# alabama_venues.append(requests.get(f"https://api.setlist.fm/rest/1.0/search/venues?p=42&stateCode=AL", headers=header).json())

<Response [404]>

In [47]:
alabama_venues

# confirmed that it's showing all 17 pages in alabama_venues

[{'type': 'venues',
  'itemsPerPage': 30,
  'page': 40,
  'total': 1177,
  'venue': [{'id': '6bd0ea3a',
    'name': '',
    'city': {'id': '4063765',
     'name': 'Gardendale',
     'state': 'Alabama',
     'stateCode': 'AL',
     'coords': {'lat': 33.6601033, 'long': -86.8127702},
     'country': {'code': 'US', 'name': 'United States'}},
    'url': 'https://www.setlist.fm/venue/unknown-venue-gardendale-al-usa-6bd0ea3a.html'},
   {'id': '73d0eac9',
    'name': '',
    'city': {'id': '4830668',
     'name': 'Athens',
     'state': 'Alabama',
     'stateCode': 'AL',
     'coords': {'lat': 34.8028661, 'long': -86.9716741},
     'country': {'code': 'US', 'name': 'United States'}},
    'url': 'https://www.setlist.fm/venue/unknown-venue-athens-al-usa-73d0eac9.html'},
   {'id': '5bd34fdc',
    'name': '',
    'city': {'id': '4082866',
     'name': 'Phenix City',
     'state': 'Alabama',
     'stateCode': 'AL',
     'coords': {'lat': 32.4709761, 'long': -85.0007653},
     'country': {'code': 'US', 'name': 'United States'}},
    'url': 'https://www.setlist.fm/venue/unknown-venue-phenix-city-al-usa-5bd34fdc.html'},
   {'id': '4bd75322',
    'name': '',
    'city': {'id': '4078964',
     'name': 'Muscle Shoals',
     'state': 'Alabama',
     'stateCode': 'AL',
     'coords': {'lat': 34.7448112, 'long': -87.6675292},
     'country': {'code': 'US', 'name': 'United States'}},
    'url': 'https://www.setlist.fm/venue/unknown-venue-muscle-shoals-al-usa-4bd75322.html'},
   {'id': '23d4c8a3',
    'name': '',
    'city': {'id': '4830198',
     'name': 'Anniston',
     'state': 'Alabama',
     'stateCode': 'AL',
     'coords': {'lat': 33.6598257, 'long': -85.8316318},
     'country': {'code': 'US', 'name': 'United States'}},
    'url': 'https://www.setlist.fm/venue/unknown-venue-anniston-al-usa-23d4c8a3.html'},
   {'id': '23d778fb',
    'name': '',
    'city': {'id': '4076598',
     'name': 'Mobile',
     'state': 'Alabama',
     'stateCode': 'AL',
     'coords': {'lat': 30.6943566, 'long': -88.0430541},
     'country': {'code': 'US', 'name': 'United States'}},
    'url': 'https://www.setlist.fm/venue/unknown-venue-mobile-al-usa-23d778fb.html'},
   {'id': '3bd004e8',
    'name': '',
    'city': {'id': '4081914',
     'name': 'Oxford',
     'state': 'Alabama',
     'stateCode': 'AL',
     'coords': {'lat': 33.6142714, 'long': -85.8349648},
     'country': {'code': 'US', 'name': 'United States'}},
    'url': 'https://www.setlist.fm/venue/unknown-venue-oxford-al-usa-3bd004e8.html'}]}]

In [27]:
# alabama_venues_df_test = pd.DataFrame(alabama_venues)
# alabama_venues_df_test

,type,itemsPerPage,page,total,venue
0,venues,30,1,1177,"[{'id': '3d259ab', 'name': 'the end.', 'city':..."
1,venues,30,2,1177,"[{'id': '53d26b95', 'name': 'WWMM 100.5 FM', '..."
2,venues,30,3,1177,"[{'id': '7bd04e80', 'name': 'Van's Bar', 'city..."
3,venues,30,4,1177,"[{'id': '73d7aa31', 'name': 'Trojan Center', '..."
4,venues,30,5,1177,"[{'id': '73d616d1', 'name': 'The Temple', 'cit..."
5,venues,30,6,1177,"[{'id': '53d073ad', 'name': 'The Pour House', ..."
6,venues,30,7,1177,"[{'id': '63d0fadb', 'name': 'The Library', 'ci..."
7,venues,30,8,1177,"[{'id': '63d0e24f', 'name': 'The Church at Bro..."
8,venues,30,9,1177,"[{'id': '6bd03a76', 'name': 'Tattoo Angel', 'c..."
9,venues,30,10,1177,"[{'id': '43d7772b', 'name': 'Spring Hill Colle..."
10,venues,30,11,1177,"[{'id': '43d7737f', 'name': 'Silver Spur', 'ci..."
11,venues,30,12,1177,"[{'id': '43d5bf9f', 'name': 'Saturn', 'city': ..."
12,venues,30,13,1177,"[{'id': '6bd04e96', 'name': 'Road House Lounge..."
13,venues,30,14,1177,"[{'id': '73d0627d', 'name': 'RAIN Center', 'ci..."
14,venues,30,15,1177,"[{'id': '7bd3fa10', 'name': 'Praça Cristo Rede..."
15,venues,30,16,1177,"[{'id': '23d5c82b', 'name': 'Pelham Civic Comp..."
16,venues,30,17,1177,"[{'id': '4bd35b36', 'name': 'Oasis', 'city': {..."

In [ ]:
# songs_set_df = songs['set'].apply(pd.Series)

In [59]:
# if I change the [0] to 1, it shows me the next page. I can keep doing this until 16 to show me page 17. 
# Is there a way to make a loop? Thinking I can assign it to y and say "for y in range (1,16):" 

ids = []
names = []
cities = []
city_id = []
states = []
lat_coords = []
long_coords =[]
country = []
for y in range(len(alabama_venues)):    
    for x in alabama_venues[y]['venue']:
        ids.append(x['id'])
        names.append(x['name'])
        cities.append(x['city']['name'])
        city_id.append(x['city']['id'])
        states.append(x['city']['state'])
        lat_coords.append(x['city']['coords']['lat'])
        long_coords.append(x['city']['coords']['long'])
        country.append(x['city']['country']['code'])
alabama_venues_df = pd.DataFrame({'id':ids, 'name':names, 'city':cities,'city_id':city_id, 'state':states, 'lat':lat_coords, 'long':long_coords, 'country':country})
alabama_venues_df.head(10)

,id,name,city,city_id,state,lat,long,country
0,3d259ab,the end.,Florence,4062577,Alabama,34.799810,-87.677251,US
1,1bd259b8,en Fuego,Verbena,4095369,Alabama,32.749851,-86.511367,US
2,23d64807,Zydeco,Birmingham,4049979,Alabama,33.520661,-86.802490,US
3,63d4aeaf,Zodiac Theatre,Florence,4062577,Alabama,34.799810,-87.677251,US
4,bd4f942,Zinn Park,Anniston,4830198,Alabama,33.659826,-85.831632,US
5,53d577fd,YNot's Watering Hole,Decatur,4058553,Alabama,34.605925,-86.983342,US
6,6bd5666a,X Lounge,Birmingham,4049979,Alabama,33.520661,-86.802490,US
7,6bd44a02,Wynfrey Hotel,Birmingham,4049979,Alabama,33.520661,-86.802490,US
8,23d258b7,Wright Center at Samford University,Birmingham,4049979,Alabama,33.520661,-86.802490,US
9,3d00547,World Games Plaza,Birmingham,4049979,Alabama,33.520661,-86.802490,US

In [60]:
alabama_venues_df['state'].value_counts()

California                12429
Arizona                    1410
Alabama                    1111
Arkansas                    605
Alaska                      196
Alagoas                      66
Appenzell Ausserrhoden       12
Capellen                      3
Name: state, dtype: int64