In [1]:
import requests
import json
import numpy as np
import pandas as pd
import time

with open('../Data/api_key.json') as fi:
    credentials = json.load(fi)
    
api_key = credentials['api_key']

header={
    "Accept":"application/json", 
    "x-api-key":api_key
}

In [2]:
# This loop is running all pages of venues for the first five states
alaska_venues= []

states=['AK']

# if print request peice = response to 100, print venues.append...else break
# need to figure out how many pages of venues each state has. may need try and accept. or while loop.

for y in states: 
    z=1
    a=1
    for x in range(10000):
        if str(requests.get(f"https://api.setlist.fm/rest/1.0/search/venues?p={x+1}&stateCode={y}", headers=header))=='<Response [200]>':
            print(requests.get(f"https://api.setlist.fm/rest/1.0/search/venues?p={x+1}&stateCode={y}", headers=header))
            alaska_venues.append(requests.get(f"https://api.setlist.fm/rest/1.0/search/venues?p={x+1}&stateCode={y}", headers=header).json())
            time.sleep(5)
            print(f"try:{z}")
            z+=1
        else:
            print(f"break:{a}")
            a+=1
            break

break:1

In [ ]:
first_five_states_venues

# confirmed that it's showing all 17 pages in alabama_venues

In [ ]:
# alabama_venues_df_test = pd.DataFrame(alabama_venues)
# alabama_venues_df_test

In [ ]:
# # if I change the [0] to 1, it shows me the next page. I can keep doing this until 16 to show me page 17. 
# # Is there a way to make a loop? Thinking I can assign it to y and say "for y in range (1,16):" 

# ids = []
# names = []
# cities = []
# city_id = []
# states = []
# lat_coords = []
# long_coords =[]
# country = []
# for y in range(len(alabama_venues)):    
#     for x in alabama_venues[y]['venue']:
#         ids.append(x['id'])
#         names.append(x['name'])
#         cities.append(x['city']['name'])
#         city_id.append(x['city']['id'])
#         states.append(x['city']['state'])
#         lat_coords.append(x['city']['coords']['lat'])
#         long_coords.append(x['city']['coords']['long'])
#         country.append(x['city']['country']['code'])
# alabama_venues_df = pd.DataFrame({'id':ids, 'name':names, 'city':cities,'city_id':city_id, 'state':states, 'lat':lat_coords, 'long':long_coords, 'country':country})
# alabama_venues_df.head(10)

In [ ]:
ids = []
names = []
cities = []
city_id = []
states = []
lat_coords = []
long_coords =[]
country = []
for y in range(len(first_five_states_venues)):    
    for x in first_five_states_venues[y]['venue']:
        ids.append(x['id'])
        names.append(x['name'])
        cities.append(x['city']['name'])
        city_id.append(x['city']['id'])
        states.append(x['city']['state'])
        lat_coords.append(x['city']['coords']['lat'])
        long_coords.append(x['city']['coords']['long'])
        country.append(x['city']['country']['code'])
first_five_states_venues_df = pd.DataFrame({'id':ids, 'name':names, 'city':cities,'city_id':city_id, 'state':states, 'lat':lat_coords, 'long':long_coords, 'country':country})
first_five_states_venues_df.head(10)

In [ ]:
alabama_venues_df['state'].value_counts()

In [ ]:

alabama_venues[0]['venue'][0]['id']

In [ ]:
# renaming id 'venue id'

venue_id = []
names = []
cities = []
city_id = []
states = []
lat_coords = []
long_coords =[]
country = []
for y in range(len(alabama_venues)):    
    for x in alabama_venues[y]['venue']:
        venue_id.append(x['id'])
        names.append(x['name'])
        cities.append(x['city']['name'])
        city_id.append(x['city']['id'])
        states.append(x['city']['state'])
        lat_coords.append(x['city']['coords']['lat'])
        long_coords.append(x['city']['coords']['long'])
        country.append(x['city']['country']['code'])
alabama_venues_df = pd.DataFrame({'venue_id':venue_id, 'name':names, 'city':cities,'city_id':city_id, 'state':states, 'lat':lat_coords, 'long':long_coords, 'country':country})
alabama_venues_df.head(10)

In [ ]:
alabama_venues_df['city'].value_counts()

In [ ]:
alaska_venues = alabama_venues_df[alabama_venues_df['state']=='Alaska']
alaska_venues

In [ ]:
# venue_ids_list = alabama_venues_df['venue_id'].tolist()

alabama_venue_list = only_alabama_venues['venue_id'].tolist()
alabama_venue_list

In [ ]:
len(alabama_venue_list)

In [ ]:
1111/60

In [ ]:
# venue_ids to list
# names = df['Name'].tolist()

venue_ids_list = alabama_venues_df['venue_id'].tolist()
venue_ids_list

In [ ]:
len(venue_ids)

In [ ]:
# there are 15832 venues in the first five states. with sleep at 1, it will take 4.4 hours to run....

In [ ]:
alabama_venue_list[-1]

In [ ]:
venue_ids_list

artists_list = []

for x in venue_ids_list:
    print(requests.get(f"https://api.setlist.fm/rest/1.0/venue/{x}/setlists?p=1", headers=header))
    artists_list.append(requests.get(f"https://api.setlist.fm/rest/1.0/venue/{x}/setlists?p=1", headers=header).json())
    time.sleep(1)

In [ ]:
alabama_venue_list

alabama_artists_list = []
# accidentally forgot to change artists_list.append to alabama_artists_list, so sticking with artists_list. 


for x in alabama_venue_list:
    print(requests.get(f"https://api.setlist.fm/rest/1.0/venue/{x}/setlists?p=1", headers=header))
    artists_list.append(requests.get(f"https://api.setlist.fm/rest/1.0/venue/{x}/setlists?p=1", headers=header).json())
    time.sleep(1)

In [ ]:
# try 

x = 

print(requests.get(f"https://api.setlist.fm/rest/1.0/venue/{x}/setlists?p=1", headers=header))
    artists_list.append(requests.get(f"https://api.setlist.fm/rest/1.0/venue/{x}/setlists?p=1", headers=header).json())
    time.sleep(1)

https://api.setlist.fm/rest/1.0/venue/3d259ab/setlists?p=1

In [ ]:
alabama_venue_list[-1]

# when testing in individual API call, resulted in 404.

In [ ]:

print(requests.get(f"https://api.setlist.fm/rest/1.0/venue/3bd004e8/setlists?p=1", headers=header))
    artists_list.append(requests.get(f"https://api.setlist.fm/rest/1.0/venue/3bd004e8/setlists?p=1", headers=header).json())
    time.sleep(1)

In [ ]:
artists_list_df = pd.DataFrame(artists_list)
artists_list_df
# the_end_venue_json = the_end_venue.json()
# the_end_venue_df = pd.DataFrame(the_end_venue_json)
# then loop

In [ ]:
# the_end_venue_data = the_end_venue_df['setlist'].apply(pd.Series)
artists_list

In [ ]:
artists_list[0]['setlist'][0]['venue']

# the_end_venue_df['setlist'][0]['venue']

In [ ]:
len(artists_list)

In [ ]:
artists_list

In [ ]:
artists_list[1141]['setlist'][0]['venue']

In [ ]:
artists_list[1141]

In [ ]:
#  may need try and accept:


mbid = []
setlist_id = []
artist_name = []
venue_name = []
venue_id = []
try:
    for y in range(len(artists_list)):
        for x in artists_list[y]['setlist']:
            mbid.append(x['artist']['mbid'])
            artist_name.append(x['artist']['name'])
            setlist_id.append(x['id'])
            venue_name.append(x['venue']['name'])
            venue_id.append(x['venue']['id'])
except: 
    for y in range(len(artists_list)):
        for x in artists_list[y]:
            mbid.append("not found")
            artist_name.append("not found")
            setlist_id.append("not found")
            venue_name.append("not found")
            venue_id.append("not found")
alabama_artists_df = pd.DataFrame({'mbid':mbid, 'setlist_id':setlist_id, 'artist_name':artist_name, 'venue_name':venue_name, 'venue_id':venue_id})
alabama_artists_df.head(10)


# for y in range(len(alabama_venues)):    
#     for x in alabama_venues[y]['venue']:
#         venue_id.append(x['id'])
#         names.append(x['name'])
#         cities.append(x['city']['name'])
#         city_id.append(x['city']['id'])
#         states.append(x['city']['state'])
#         lat_coords.append(x['city']['coords']['lat'])
#         long_coords.append(x['city']['coords']['long'])
#         country.append(x['city']['country']['code'])
# alabama_venues_df = pd.DataFrame({'venue_id':venue_id, 'name':names, 'city':cities,'city_id':city_id, 'state':states, 'lat':lat_coords, 'long':long_coords, 'country':country})
# alabama_venues_df.head(10)

In [ ]:
alabama_artists_df['venue_name'].value_counts()

In [ ]:
mbid = []
setlist_id = []
artist_name = []
venue_name = []
venue_id = []

for y in range(len(artists_list)):
    try:
        for x in artists_list[y]['setlist']:
            mbid.append(x['artist']['mbid'])
            artist_name.append(x['artist']['name'])
            setlist_id.append(x['id'])
            venue_name.append(x['venue']['name'])
            venue_id.append(x['venue']['id'])
    except:
        for x in artists_list[y]:
            mbid.append("not found")
            artist_name.append("not found")
            setlist_id.append("not found")
            venue_name.append("not found")
            venue_id.append("not found")
alabama_artists_df = pd.DataFrame({'mbid':mbid, 'setlist_id':setlist_id, 'artist_name':artist_name, 'venue_name':venue_name, 'venue_id':venue_id})
alabama_artists_df.head(10)

In [ ]:
subset = alabama_artists_df[alabama_artists_df['venue_name']=='not found']
subset.head()

In [ ]:
len(subset)

In [ ]:
# mbid = []
# setlist_id = []
# artist_name = []
# venue_name = []
# venue_id = []
# for x in artists_list[1]['setlist']:
#     mbid.append(x['artist']['mbid'])
#     artist_name.append(x['artist']['name'])
#     setlist_id.append(x['id'])
#     venue_name.append(x['venue']['name'])
#     venue_id.append(x['venue']['id'])
# alabama_artists_df = pd.DataFrame({'mbid':mbid, 'setlist_id':setlist_id, 'artist_name':artist_name, 'venue_name':venue_name, 'venue_id':venue_id})
# alabama_artists_df.head(10)

In [ ]:
artists_list[1141]

In [ ]:
# now will make a list of mbids to input into API call to get set list data
# alabama_venue_list = only_alabama_venues['venue_id'].tolist()

alabama_mbid_list = alabama_artists_df['mbid'].tolist()
alabama_mbid_list

In [ ]:

# data.to_excel('sample_data.xlsx', sheet_name='sheet1', index=False)

alabama_artists_df.to_excel('music_matters.xlsx', sheet_name='sheet1', index=False)